.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    line-height: 40px;
    height: 40px;
    font: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.TextArea {
    height: 100px;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

.hidden {
    display: none;
}

.react-datepicker-wrapper {
    display: block;
    height: 40px;
}

.Label {
    margin: 12px 0 0;
    font-weight: bold;
    font-size: 0.9em;
}
