.App {
  width: 100%;
}

.add-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

amplify-greetings {
  justify-content: flex-end;
  --border-color: transparent;
}

.AppHeader {
  display: flex;
  justify-content: space-between;
}