@import "../../../styles/mixins";

.EventForm {
  max-width: 558px;
  border-radius: 3px;
  background: #BCE3DF;
  padding: 32px;
  .Input {
    width: 100%;
    box-sizing: border-box;
  }
  input[type="text"], textarea {
    background-color: #F4FBFA;
    margin: 0;
  }
  .form-group {
    margin: 0;
  }
  .buttons-block {
    display: flex;
    padding: 24px 0 0;
    justify-content: space-evenly;
  }
}

@include for-mobile() {
  .EventForm {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
};
